body{background: #001529;}
.form-wrap{width: 300px;display: flex;margin:0 auto;align-items: center;height: 100vh;}
.title-form{height: 60px;text-align: right;width:100%;color: #fff;
    h3{float: left;}
    .link-reg{opacity: .3;}
}
.form-content{width: 100%;}